@import url("https://api.fontshare.com/v2/css?f[]=clash-display@200,400,700,500,600,300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
  @apply font-sans;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Clash Display", sans-serif;
}

h1 {
  @apply md:text-7xl text-4xl font-bold;
}

h2 {
  @apply md:text-4xl text-3xl  font-bold;
}

h3 {
  @apply md:text-3xl text-2xl font-bold;
}

h4 {
  @apply text-2xl font-bold;
}

h5 {
  @apply text-xl font-bold;
}

h6 {
  @apply md:text-lg text-sm font-bold;
}

p {
  @apply font-normal leading-[20%];
}

ul {
  @apply list-none;
}

select option {
  @apply text-black;
}

textarea:focus ~ label,
input:focus ~ label {
  @apply bg-dark-purple text-sm -top-5 rounded-md;
}

.keys {
  @apply mt-6 flex flex-col gap-4 md:text-left text-center;
}

.keys > li {
  @apply text-sm;
}

.keys > li > span {
  @apply text-base font-bold text-[#FF26B9];
}

.spinner {
  animation: spin 1s linear infinite;
  @apply h-[40px] w-[40px] rounded-[50%] border-l-4 border-secondary-purple;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
